.container {
  display: flex;
  align-items: center;
  margin: 50px;
  gap: 50px;
  max-width: 80%;
}
.info {
  margin-left: 50px;
}

.infolist {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;

  gap: 32px;
}

.link {
  margin-left: 50px;
  border: 1px solid #a5a5a5;
  border-radius: 15px;
  padding: 5px 16px;
  background-color: #2f2f2f;
  color: white;
}

.genres {
  display: flex;
  gap: 16px;
}
